:root {
  --default-color: #444444;
  --primary-color: #004876;
  --muted-color: #777777;
  --background-color: #EFEFEF;
  --select-color: #0086DC;
  --paper-color: #FAFAFA;
  --highlight-color: #F4FBFF;
  --accent-color: #D8D8D8;
}
body {
  background-color: var(--background-color) !important;
}



